@import 'animation';
@import 'common';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
          "slnt" 0;
}

.rcw-widget-container {
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 0px 5px;
  position: fixed;
  //right: 0;
  z-index: 9999;
  font-family: Inter;
  width: 100%;
  height: 90%;
  flex-shrink: 0;

  border-radius: 16px;

  @media screen and (max-width: 500px) {
    margin: 0;
  }
}

.full-screen-container {
  height: 100% !important;
  width: 100% !important;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0px !important;
}

@media screen and (min-width: 4800px) {
  .rcw-widget-container {
    @include widget-container-fs;
  }
}

/* Media query for screens with 400px width or less */
@media screen and (max-width: 400px) {
  .rcw-widget-container {
    width: 100%; /* Adjust width for smaller screens */
  }
}

.rcw-previewer .rcw-message-img {
  cursor: pointer;
}

.rcw-close-widget-container {
  height: max-content;
  width: max-content;
}

::-webkit-scrollbar-thumb {
  background-color: #2f3437;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #d3d3d4;
}