@import 'common';
@import 'variables/colors';
@import 'animation';

.rcw-conversation-container {
  max-width: 90vw;
  position: relative;
  min-height: 70%;
  background-color: $theme-color;

  border-radius: 16px;
  /* Shadow A */
  box-shadow: $theme-color;
  &.active {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &.hidden {
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  @media screen and (max-width: 500px) {
    min-height: 100%;
    max-width: 100%;
  }
}

// full-screen-conversation container
.full-screen-conversation-container {
  max-width: none !important;
  width: 100% !important;
}

.rcw-conversation-resizer {
  cursor: col-resize;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 5px;
}

.emoji-mart-preview {
  display: none;
}

.rcw-full-screen {
  .rcw-conversation-container {
    @include conversation-container-fs;
  }
}

@media screen and (max-width: 800px) {
  .rcw-conversation-container {
    @include conversation-container-fs;
  }
}
